<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{.base}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/resource/heart.ico">
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="stylesheet" href="static/styles/card.css">
    <title>Create Valentine Card</title>
</head>
<body>
    <main>
        <div id="card-demo">
            <img src="static/resource/cat_heart.gif" alt="" id="gif">
            <p id="message">Doe, will you be my Valentine?</p>
            <p id="senderName">-John</p>
            <button id="btn-yes">yes</button>
            <button id="btn-no">no</button>
        </div>

        <p style="text-align: left;">Enter your names:</p>
        <form action="create" method="POST">
            <input type="text" id="receipient" name="receipient" placeholder="Recieptient's name" required>
            <input type="text" id="sender" name="sender" placeholder="Your name" required>
            <input type="submit" value="Create Card">
        </form>
        <br>
        <p>made w/ love by jacob</p>
    </main>
    <script src="static/scripts/card.js"></script>
    <script src="static/scripts/demo.js"></script>
</body>
</html>